html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(../img/background.jpg) center / 100% 100% no-repeat;
	height: 100%;
}

h1 {
	font-family: 'rubik', cursive;
	font-size: 9vw;
	text-shadow: 5px 5px 10px rgba(50, 50, 50, 1);;
	color: aliceblue;


	color: #FFFFFF;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
}


/*
 * Styles for the deck of cards
 */


.deck {
	width: 85%;
	/*background: #716F71;*/
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 2em;
}

.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	/*background: #141214;*/
	font-size: 0;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	/*background: #02b3e4;*/
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	/*background: #E5F720;*/
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	/*background: #e2043b;*/
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*
 * Styles for the Score Panel
 */


.score-panel {
	text-align: left;
	font-family: 'Itim', cursive;
	color: white;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 30px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


/*
 * Styles for congratulations modal
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 85px;
	padding: 50px;
	background: #ffffff;
	border-radius: 25px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	/*font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Itim', cursive;
}
  
.popup h2 {
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
	text-align: center;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 100px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	padding: 10px 10px 50px 50px;
	line-height: 80px;
	font-family: cursive;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1 {
	margin: auto auto 250px auto;
}

.popup .content-0, .content-1,
.content-2 {
	max-height: 30%;
	/*overflow: auto;*/
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: yellow;
	padding: 50px;
	font-size: 3.5rem;
	display: block;
	margin: 250px auto 70px auto;
	width: 70%;
	color: red;
	border-radius: 5px;
	font-family: 'Itim', cursive;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}


/****** Media queries
***************************/


@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}


/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
	.container {
		font-size: 60px;
	}

	.deck {
		width: 1000px;
		height: 1000px;
	}

	.deck .card {
		height: 220px;
		width: 220px;
		
		background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );


	}

	.popup {
		width: 85%;
	}
	
	.deck .card img {
		opacity: 1;
		background: url(../img/logo.png) center / 100% 100% no-repeat;
		height: 220px;
		width: 220px;
		border-radius: 20px;
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.deck .card.open img {
		background-color: white !important;
	}
	
	.deck .card.open img.fa-1, .deck .card.match img.fa-1 {
		background: url(../img/logo_1.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-2, .deck .card.match img.fa-2 {
		background: url(../img/logo_2.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-3, .deck .card.match img.fa-3 {
		background: url(../img/logo_3.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-4, .deck .card.match img.fa-4 {
		background: url(../img/logo_4.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-5, .deck .card.match img.fa-5 {
		background: url(../img/logo_5.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-6, .deck .card.match img.fa-6 {
		background: url(../img/logo_6.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-7, .deck .card.match img.fa-7 {
		background: url(../img/logo_7.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-8, .deck .card.match img.fa-8 {
		background: url(../img/logo_8.png) center / 100% 100% no-repeat;
	}
	
	.restart i {
		font-size: 100px;
		padding: 40px;
		margin: 40px;
		color: white;
	}
	
	.congrats {
		width: 100%;
	}
}


/*@media (min-width: 1024px) {
	.container {
		font-size: 30px;
	}

	.deck {
		width: 1000px;
		height: 1000px;
		margin: 0px;
	}

	.deck .card {
		height: 200px;
		width: 200px;
	}

	.popup {
		width: 85%;
	}
	
	.deck .card img {
		opacity: 1;
		background: url(../img/logo.png) center / 100% 100% no-repeat;
		height: 200px;
		width: 200px;
		border-radius: 20px;
		display: block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.deck .card.open img.fa-1, .deck .card.match img.fa-1 {
		background: url(../img/logo_1.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-2, .deck .card.match img.fa-2 {
		background: url(../img/logo_2.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-3, .deck .card.match img.fa-3 {
		background: url(../img/logo_3.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-4, .deck .card.match img.fa-4 {
		background: url(../img/logo_4.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-5, .deck .card.match img.fa-5 {
		background: url(../img/logo_5.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-6, .deck .card.match img.fa-6 {
		background: url(../img/logo_6.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-7, .deck .card.match img.fa-7 {
		background: url(../img/logo_7.png) center / 100% 100% no-repeat;
	}
	
	.deck .card.open img.fa-8, .deck .card.match img.fa-8 {
		background: url(../img/logo_8.png) center / 100% 100% no-repeat;
	}
	
	.restart i {
		font-size: 80px;
		padding: 20px;
	}
	
	.congrats {
		width: 100%;
	}
}*/

  
  @keyframes letter-in {
	0% {
	  top: 1.2em;
	}
	100% {
	  top: 0em;
	}
  }
  @keyframes letter-out {
	0% {
	  top: 0em;
	}
	100% {
	  top: -1.2em;
	}
  }
  

.changing-title { 
	font-size: 8.5vw;
	height: 1.2em;
	position: relative;
	width: 100%;
	overflow-y: hidden;
	margin: 10px 0px 60px 360px;
	transform: translate3d(0,0,0);
	
  }

.changing-title h1 {
	font-size: 1em;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}

.changing-title h1 .letter {
	position: relative;
	top: 1.2em;
}

.changing-title h1 .letter.in {
	animation-name: letter-in;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.changing-title h1 .letter.out {
	top: 0em;
	animation-name: letter-out;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}




